{% extends 'accounts/base.html' %}
{% load static %}

{% block headsection %}

{% endblock headsection %}

{% block content %}
<body>
  <main id="dispatcher">
    <nav>
      <div class="nav-wrapper">
        <!-- <a href="#" class="brand-logo">Logo</a> -->
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a class="waves-effect waves-light red white-text btn">BROADCAST NEED</a></li>
          <li><a href=""><i class="material-icons">notifications</i></a></li>
          <li><a href=""><i class="material-icons">settings</i></a></li>
          <li><a href=""><i class="material-icons">logout</i></a></li>
        </ul>
      </div>
    </nav>
    <a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    <ul id="slide-out" class="sidenav">
      <li><div class="user-view">
        <div class="background">
          <img src="https://via.placeholder.com/500/000000/FFFFFF/">
        </div>
        <a href="#user"><img class="circle" src="https://via.placeholder.com/150"></a>
        <a href="#name"><span class="white-text name">John Doe</span></a>
        <a href="#email"><span class="white-text email">jdandturk@gmail.com</span></a>
      </div></li>
      <li><a href="#!" class="waves-effect"><i class="material-icons">cloud</i>Dashboard</a></li>
      <li><a href="manage-drivers.html" class="waves-effect"><i class="material-icons">directions_car</i>Drivers</a></li>
      <li><a href="manage-families.html" class="waves-effect"><i class="material-icons">people_outline</i>Families</a></li>
      <li><a href="#!" class="waves-effect"><i class="material-icons">report</i>Broadcast needs</a></li>
      <li><a href="#!" class="waves-effect"><i class="material-icons">place</i>Trip Management</a></li>
      <li><a href="#!" class="waves-effect"><i class="material-icons">announcement</i>Broadcast Notification</a></li>
      <li><a href="#!" class="waves-effect"><i class="material-icons">settings</i>Manage Profile</a></li>
      <li><a href="#!" class="waves-effect"><i class="material-icons">note</i>Reporting</a></li>
      <li><a href="#!" class="waves-effect"><i class="material-icons">edit</i>Update Terms and Rules</a></li>
      <li><div class="divider"></div></li>
      <li><a href="#!" class="waves-effect"><i class="material-icons">logout</i>Log Out</a></li>
    </ul>
    <!-- Start Inner Goodness -->
 
    <div class="mt-5">
      <div class="row">
        <div class="col l6 m6 s12">
          <div class="card-panel gray">
            <h4 class="dashboard-card-header">Manage Trips</h4> 
            <table class="highlight responsive-table striped datatable2">
              <thead>
                <tr>
                  <th>Date</th>
                  <th>Time</th>
                  <th>Family</th>
                  <th>Adults/Kids</th>
                  <th>Pickup</th>
                  <th>Drop Off</th>
                  <th>Contact #</th>
                  <th>Return?</th>
                  <th>Actions</th>
                </tr>
              </thead>

              <tbody>
                <tr>
                  <td>6/24/20</td>
                  <td>18:30</td>
                  <td>Joneston</td>
                  <td>1/2</td>
                  <td>1234 Center St 21740</td>
                  <td>5678 Center St 21740</td>
                  <td>240-310-0065</td>
                  <td><i class="material-icons">check</i></td>
                  <td><a href=""><i class="material-icons">edit</i></a></td>  
                </tr>
                <tr>
                  <td>6/24/20</td>
                  <td>18:30</td>
                  <td>Joneston</td>
                  <td>1/2</td>
                  <td>1234 Center St 21740</td>
                  <td>5678 Center St 21740</td>
                  <td>240-310-0065</td>
                  <td><i class="material-icons">check</i></td>
                  <td><a href=""><i class="material-icons">edit</i></a></td>  
                </tr>
                <tr>
                  <td>6/24/20</td>
                  <td>18:30</td>
                  <td>Joneston</td>
                  <td>1/2</td>
                  <td>1234 Center St 21740</td>
                  <td>5678 Center St 21740</td>
                  <td>240-310-0065</td>
                  <td><i class="material-icons">check</i></td>
                  <td><a href=""><i class="material-icons">edit</i></a></td>  
                </tr>
              </tbody>
            </table>
          </div>

          <div class="card-panel gray">
            <h4 class="dashboard-card-header">Unassigned Trips</h4> 
            <table class="highlight responsive-table striped datatable">
              <thead>
                <tr>
                  <th>Date</th>
                  <th>Time</th>
                  <th>Family</th>
                  <th>Adults/Kids</th>
                  <th>Pickup</th>
                  <th>Drop Off</th>
                  <th>Contact #</th>
                  <th>Return?</th>
                  <th>Actions</th>
                </tr>
              </thead>

              <tbody>
                <tr>
                  <td>6/24/20</td>
                  <td>18:30</td>
                  <td>Joneston</td>
                  <td>1/2</td>
                  <td>1234 Center St 21740</td>
                  <td>5678 Center St 21740</td>
                  <td>240-310-0065</td>
                  <td><i class="material-icons">check</i></td>
                  <td><a href=""><i class="material-icons">edit</i></a></td>  
                </tr>
                <tr>
                  <td>6/24/20</td>
                  <td>18:30</td>
                  <td>Joneston</td>
                  <td>1/2</td>
                  <td>1234 Center St 21740</td>
                  <td>5678 Center St 21740</td>
                  <td>240-310-0065</td>
                  <td><i class="material-icons">check</i></td>
                  <td><a href=""><i class="material-icons">edit</i></a></td>  
                </tr>
                <tr>
                  <td>6/24/20</td>
                  <td>18:30</td>
                  <td>Joneston</td>
                  <td>1/2</td>
                  <td>1234 Center St 21740</td>
                  <td>5678 Center St 21740</td>
                  <td>240-310-0065</td>
                  <td><i class="material-icons">check</i></td>
                  <td><a href=""><i class="material-icons">edit</i></a></td>  
                </tr>
              </tbody>
            </table>
          </div>
            
        </div>
        <div class="col l6 m6 s12">
          <div class="card-panel gray">
            <h4 class="dashboard-card-header">Trip Calendar</h4> 
            <div id="calendar"></div>

          </div>
        </div>
      </div> 
    </div> 
    <!-- End Inner Goodness -->
  </main>

</body>
{% endblock content %}

{% block scripts %}
<link rel="stylesheet" href="{% static 'home/js/dispatcher.js'%}">
{% endblock scripts %}
