{% extends 'accounts/dispatcher/base-dispatcher.html' %}
{% load static %}


{% block content %}
    <div class="container mt-5">
      <div class="row">
        <div class="col l12">
          <a href="tripinfo" class="waves-effect waves-light btn float-right">Add New Trip</a>
        </div>  
      </div>  
      <div class="row">
          <div class="col l12">
            <div class="card-panel gray">
              <h4 class="dashboard-card-header">Manage Trips</h4> 
               <table class="highlight responsive-table striped datatable">
              <thead>
                <tr>
                  <th>Date</th>
                  <th>Time</th>
                  <th>Family</th>
                  <th>Adults/Kids</th>
                  <th>Pickup</th>
                  <th>Drop Off</th>
                  <th>Contact #</th>
                  <th>Return Trip?</th>
                  <th>Actions</th>
                </tr>
              </thead>

              <tbody>
                <tr>
                  <td>6/24/20</td>
                  <td>18:30</td>
                  <td>Joneston</td>
                  <td>1/2</td>
                  <td>1234 Center St 21740</td>
                  <td>5678 Center St 21740</td>
                  <td>240-310-0065</td>
                  <td><i class="material-icons">check</i></td>
                  <td><a href="tripinfo"><i class="material-icons">edit</i></a>
                      <a href="#cancel" class="modal-trigger"><i class="material-icons">delete</i></a>
                  </td>  
                </tr>
                <tr>
                  <td>6/24/20</td>
                  <td>18:30</td>
                  <td>Joneston</td>
                  <td>1/2</td>
                  <td>1234 Center St 21740</td>
                  <td>5678 Center St 21740</td>
                  <td>240-310-0065</td>
                  <td><i class="material-icons">check</i></td>
                  <td><a href="tripinfo"><i class="material-icons">edit</i></a>
                      <a href="#cancel" class="modal-trigger"><i class="material-icons">delete</i></a>
                  </td>  
                </tr>
                <tr>
                  <td>6/24/20</td>
                  <td>18:30</td>
                  <td>Joneston</td>
                  <td>1/2</td>
                  <td>1234 Center St 21740</td>
                  <td>5678 Center St 21740</td>
                  <td>240-310-0065</td>
                  <td><i class="material-icons">check</i></td>
                  <td><a href="tripinfo"><i class="material-icons">edit</i></a>
                      <a href="#cancel" class="modal-trigger"><i class="material-icons">delete</i></a>
                  </td>  
                </tr>
              </tbody>
            </table>
            </div>
          </div>  
       </div> 
       <div id="cancel" class="modal modal-fixed-footer">
        <form>
          <div class="modal-content">
            <h4>Canceling Trip #00-69-56</h4>
            <div class="row">  
              <div class="input-field col s12">
                <select class="browser-default">
                  <option value="" disabled selected>Choose Cancellation Category</option>
                  <option value="1">Facility Problems</option>
                  <option value="2">Inclement Weather</option>
                  <option value="3">Family Emergency</option>
                  <option value="4">Lack Of Drivers</option>
                </select>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12">
                <textarea id="cancellationAdditional" class="materialize-textarea"></textarea>
                <label for="cancellationAdditional">Additional Info</label>
              </div>
            </div>

          </div>
          <div class="modal-footer">
            <a href="#!" class="modal-close waves-effect black white-text btn-flat">Exit Without Canceling</a>
            <a class="waves-effect waves-light btn" href="#!">Save</a>
          </div>
        </form>
      </div>
    </div>
{% endblock content %}

{% block scripts %}
<script>
    var dataTable = new DataTable(".datatable",{
    perPage:50
  });
</script>
{% endblock scripts %}